body {
	background-color: #E6F7F7;
	margin: 0;
  	padding: 0;
}


.sidebar h1 {
  font-family: "Baskerville", serif;
  font-size: 200%;
  color: #50649D;
  display: block;
  padding: 16px;
  padding-top: 0;
  margin:10;
  font-weight: 600;
  text-align: center;
}

.sidebar h2 {
  font-family: "Baskerville", serif;
  font-size: 250%;
  color: #D4E5F9;
  display: block;
  padding: 16px;
  margin: 10;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.sidebar h3{
  font-family: "Baskerville", serif;
  color: #50649D;
  display: block;
  padding: 16px;
  margin: 10;
  font-weight: 400;
  text-align: center;
}

#colophon {
  padding-top: 20px;
}

.content pre {
  font-family: "Baskerville", serif;
  color: #253068
}

.content h1 {
  font-family: "Baskerville", serif;
  color: #50649D
}

.content h2 {
  font-family: "Baskerville", serif;
}

.content p {
  font-family: "Baskerville", serif;
  color: #253068
}

.content a {
  color: #50649D;
  font-weight: 600;
  text-decoration: none;
}

/* LAYOUT STUFF */

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 350px;    /* <--- CHANGE US TGOGETHER*/
  padding: 1px 16px;
  height: 1000px;
}

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 350px;          /* <--- CHANGE US TOGETHER */
  background-color: #81A8BC;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  font-family: "Baskerville", serif;
  display: block;
  color: #D4E5F9;
  padding: 16px;
  padding-right: 30px;
  text-decoration: none;
  text-align: right;
  font-size: 125%;
}

#colophon a {
  font-family: "Baskerville", serif;
  font-size: 100%;
  color: #D4E5F9;
  display: block;
  padding: 0px;
  padding-top: 0;
  margin:0;
  font-weight: 600;
  text-align: center;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4D749F;
  color: #D4E5F9;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #3B679A;
  color: #D4E5F9;
}

#colophon a:hover:not(.active) {
  background-color: #3B679A;
  color: #D4E5F9;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  
  div.blurb{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "baskerville"
  color:#ABC2CE
  }



/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    padding: 0px;
  }
  
  div.blurb{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "baskerville"
  color:#ABC2CE
  }
} 